<% layout('/layouts/default.html', {title: '提案管理管理', libs: ['validate', 'fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(proposal.isNewRecord ? '新增提案管理' : '编辑提案管理')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${proposal}" action="${ctx}/proposal/proposal/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="proId"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								 员工姓名：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input value="${@UserUtils.getUser().getUserName()}" maxlength="255" class="form-control" readOnly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								 员工ID：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input name="proEmpId" value="${@UserUtils.getUser().getUserCode()}" maxlength="255" class="form-control" readOnly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 提案名：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<%	if(isEmpty(proposal.proName)){ %>
									<#form:input path="proName" maxlength="255" class="form-control required"/>
								<% } %>
								<% else{ %>
									<#form:input value="${proposal.proName}" maxlength="255" class="form-control required" readOnly="true"/>
								<% } %>
							</div>
						</div>
					</div>
					<!--<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 提案结束时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="endDate" class="form-control"/>
							</div>
						</div>
					</div>-->
					<!--<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 提案审核情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="proStatus" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>-->
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<% if(isEmpty(proposal.proId)) { %>
								<label class="control-label col-sm-2">
									<span class="required ">*</span> 提案文件上传：</label>
								<div class="col-sm-10">
										<#form:fileupload id="upload1" bizKey="${proposal.proId}" bizType="proposal_type" uploadType="all" class="" readonly="false"/>
							<% } %>
							<% else { %>
								<label class="control-label col-sm-2">
									<span class="required ">*</span> 上传的提案文件：</label>
								<div class="col-sm-10">
									<#form:fileupload id="upload1" bizKey="${proposal.proId}" bizType="proposal_type" uploadType="all" class="" readonly="true" preview="true"/>
							<% } %>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if(isEmpty(proposal.proId)) { %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('提 交')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>